## Importing Libraries

In [106]:
import numpy as np
from math import sqrt
import pandas as pd

## Reading files

In [107]:
movies_df = pd.read_csv(r'C:\Users\saeid\OneDrive\Desktop\movies.csv')
ratings_df = pd.read_csv(r'C:\Users\saeid\OneDrive\Desktop\ratings.csv')

## Content_Based Recommender

## We want to determine score for each genre according to user ratings and assign score for each movie and recommend them to the user.

## This is a set of movies that the user has watched and rated them

In [108]:
userInput = [
            {'title':'Father of the Bride Part II', 'rating':4},
            {'title':'No Game No Life: Zero', 'rating':3},
            {'title':'Grumpier Old Men', 'rating':5},
            {'title':"Sudden Death", 'rating':4.5},
            {'title':'Heat', 'rating':5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                         title  rating
0  Father of the Bride Part II     4.0
1        No Game No Life: Zero     3.0
2             Grumpier Old Men     5.0
3                 Sudden Death     4.5
4                         Heat     5.0

In [109]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Now, We have to convert the movies dataframe to our desired form to work on it.

In [110]:
movies_df['Year']=movies_df['title'].str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['Year']=movies_df['Year'].str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df.title.str.strip()
movies_df['genres']=movies_df['genres'].str.split('|')
movies_df.head()

C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\3750492074.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,Year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

## Finding movie ID and adding to user rating.

In [111]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies=pd.merge(inputMovies,inputId)
inputMovies = inputMovies.drop(columns=['genres','Year'])
inputMovies.head()

                         title  rating  movieId
0  Father of the Bride Part II     4.0        5
1        No Game No Life: Zero     3.0   193583
2             Grumpier Old Men     5.0        3
3                 Sudden Death     4.5        9
4                         Heat     5.0        6

In [112]:
inputMovies['rating']

0    4.0
1    3.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

## generating a dataframe that includes movies with genres, in cofluence 1 and otherwise 0.

In [113]:
moviesWithGenres_df = movies_df.copy()
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,Year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## generating movies with genres for user movies

In [114]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,Year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,Heat,"[Action, Crime, Thriller]",1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,Sudden Death,[Action],1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9738,193583,No Game No Life: Zero,"[Animation, Comedy, Fantasy]",2017,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [115]:
serMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
userGenreTable=np.asanyarray(userGenreTable)
userGenreTable

C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\3713285694.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\3713285694.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\3713285694.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\3713285694.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)

array([[0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.]])

## assigning score for each genre.Multiply the N-by-five matrix by the five-by-one matrix, which becomes the N-by-one matrix.

In [116]:
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

array([ 0. ,  5. ,  0. , 12. ,  5. ,  4. ,  0. ,  9.5,  5. ,  5. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ])

## generating movies with genres for all movies.

In [117]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
genreTable.head()

C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\1989552232.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\1989552232.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\1989552232.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)
C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\1989552232.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('Year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## assigning score for each movie by and making our recommender system by multiplying scores of genres by genres and aggregating  on each movie  to find the best movies.

In [118]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.483516
2    0.109890
3    0.351648
4    0.351648
5    0.263736
dtype: float64

In [119]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
4719     0.890110
27328    0.802198
83349    0.802198
31367    0.780220
7007     0.692308
dtype: float64

## The first 20 movies that recommended for intended user.

In [120]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

,movieId,title,genres,Year
364,420,Beverly Hills Cop III,"[Action, Comedy, Crime, Thriller]",1994
660,861,Supercop (Police Story 3: Supercop) (Jing cha ...,"[Action, Comedy, Crime, Thriller]",1992
666,876,Supercop 2 (Project S) (Chao ji ji hua),"[Action, Comedy, Crime, Thriller]",1993
1399,1918,Lethal Weapon 4,"[Action, Comedy, Crime, Thriller]",1998
3430,4673,Tango & Cash,"[Action, Comedy, Crime, Thriller]",1989
3460,4719,Osmosis Jones,"[Action, Animation, Comedy, Crime, Drama, Roma...",2001
4368,6387,Once a Thief (Zong heng si hai),"[Action, Comedy, Crime, Thriller]",1991
4691,7004,Kindergarten Cop,"[Action, Comedy, Crime, Thriller]",1990
4693,7007,"Last Boy Scout, The","[Action, Comedy, Crime, Drama, Thriller]",1991
5379,8968,After the Sunset,"[Action, Adventure, Comedy, Crime, Thriller]",2004
5391,8984,Ocean's Twelve,"[Action, Comedy, Crime, Thriller]",2004
5471,26184,"Diamond Arm, The (Brilliantovaya ruka)","[Action, Adventure, Comedy, Crime, Thriller]",1968
5634,27328,Monday,"[Action, Comedy, Crime, Fantasy, Thriller]",2000
5774,31367,"Chase, The","[Action, Adventure, Comedy, Crime, Romance, Th...",1994
5990,36850,Police Story 2 (Ging chaat goo si juk jaap),"[Action, Comedy, Crime, Thriller]",1988
6069,40959,"Ice Harvest, The","[Action, Comedy, Crime, Thriller]",2005
7194,72601,Teenage Mutant Ninja Turtles: Turtles Forever,"[Action, Adventure, Animation, Comedy, Thriller]",2009
7503,83349,"Green Hornet, The","[Action, Comedy, Crime, Fantasy, Thriller, IMAX]",2011
8357,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
9394,164226,Maximum Ride,"[Action, Adventure, Comedy, Fantasy, Sci-Fi, T...",2016

## ----------------------------------------------------------------------------------------------------------------------------------

## Collabortive filtering_UserBased

In [121]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Timestamp has no importance for our solotion, so is droped from rankings dataframe.

In [122]:
ratings_df=ratings_df.drop('timestamp',1)

C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\2308053707.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratings_df=ratings_df.drop('timestamp',1)

In [123]:
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [124]:
inputMovies.head()

                         title  rating  movieId
0  Father of the Bride Part II     4.0        5
1        No Game No Life: Zero     3.0   193583
2             Grumpier Old Men     5.0        3
3                 Sudden Death     4.5        9
4                         Heat     5.0        6

## In order to find the most similar users, we find the users who has watched the most common music with the intended user.

In [125]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubsetGroup = userSubset.groupby(['userId'])
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

C:\Users\saeid\AppData\Local\Temp\ipykernel_5816\436543416.py:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

[(269,
         userId  movieId  rating
  39032     269        3     4.0
  39033     269        5     3.0
  39034     269        6     5.0
  39035     269        9     2.0),
 (270,
         userId  movieId  rating
  39061     270        3     3.0
  39062     270        5     3.0
  39063     270        6     3.0
  39065     270        9     3.0),
 (337,
         userId  movieId  rating
  51894     337        3     4.0
  51895     337        5     4.0
  51896     337        6     5.0
  51898     337        9     5.0),
 (492,
         userId  movieId  rating
  79297     492        3     4.0
  79298     492        5     3.0
  79299     492        6     3.0
  79301     492        9     5.0),
 (6,
       userId  movieId  rating
  561       6        3     5.0
  563       6        5     5.0
  564       6        6     4.0),
 (68,
         userId  movieId  rating
  10362      68        3     2.0
  10363      68        5     2.0
  10364      68        6     4.0),
 (117,
         userId  movieId  rating
  18350     117        3     3.0
  18351     117        5     3.0
  18352     117        6     3.0),
 (150,
         userId  movieId  rating
  22277     150        3     3.0
  22278     150        5     3.0
  22279     150        6     4.0),
 (217,
         userId  movieId  rating
  30887     217        3     1.0
  30888     217        6     2.0
  30889     217        9     3.0),
 (353,
         userId  movieId  rating
  53494     353        5     3.0
  53495     353        6     4.0
  53496     353        9     3.0),
 (389,
         userId  movieId  rating
  60291     389        5     4.0
  60292     389        6     5.0
  60293     389        9     3.0),
 (414,
         userId  movieId  rating
  62296     414        3     4.0
  62297     414        5     2.0
  62298     414        6     3.0),
 (437,
         userId  movieId  rating
  67461     437        5     2.0
  67462     437        6     5.0
  67463     437        9     3.0),
 (456,
         userId  movieId  rating
  71258     456        3     3.0
  71259     456        5     3.0
  71260     456        9     4.0),
 (470,
         userId  movieId  rating
  72920     470        3     3.0
  72921     470        5     3.0
  72922     470        6     3.0),
 (501,
         userId  movieId  rating
  79994     501        3     5.0
  79995     501        5     3.0
  79996     501        6     3.0),
 (590,
         userId  movieId  rating
  90519     590        3     3.0
  90520     590        5     2.0
  90521     590        6     3.5),
 (599,
         userId  movieId  rating
  92625     599        3     1.5
  92626     599        6     4.5
  92628     599        9     1.5),
 (1,
     userId  movieId  rating
  1       1        3     4.0
  2       1        6     4.0),
 (32,
        userId  movieId  rating
  4930      32        3     3.0
  4931      32        6     3.0),
 (43,
        userId  movieId  rating
  6316      43        3     5.0
  6317      43        5     5.0),
 (44,
        userId  movieId  rating
  6430      44        3     3.0
  6431      44        6     3.0),
 (45,
        userId  movieId  rating
  6478      45        5     3.0
  6479      45        6     4.0),
 (58,
        userId  movieId  rating
  8511      58        3     3.0
  8512      58        5     4.0),
 (64,
        userId  movieId  rating
  9429      64        3     3.5
  9430      64        6     4.5),
 (84,
         userId  movieId  rating
  13076      84        5     3.0
  13077      84        6     4.0),
 (91,
         userId  movieId  rating
  14123      91        3     3.0
  14124      91        6     5.0),
 (102,
         userId  movieId  rating
  15509     102        3     5.0
  15510     102        6     3.0),
 (121,
         userId  movieId  rating
  18774     121        5     3.0
  18775     121        6     5.0),
 (151,
         userId  movieId  rating
  22304     151        3     3.0
  22305     151        9     4.0),
 (169,
         userId  movieId  rating
  24323     169        3     5.0
  24324     169        5     5.0),
 (179,
         userId  movieId  rating
  25882     179        3     4.0
  25884     179        9     3.0),
 (181,
         userId  movieId  rating
  25974     181        5     3.0
  25975     181        6     3.0),
 (288,
         userId  movieId  rating
  42116     288        3     4.0
  42117     288        5     2.0),
 (294,
         userId  movieId  rating
  43959     294        3     1.0
  43960     294        6     3.0),
 (308,
         userId  movieId  rating
  47709     308        3     0.5
  47710     308        6     1.0),
 (321,
         userId  movieId  rating
  49919     321        3     3.0
  49920     321        5     3.0),
 (368,
         userId  movieId  rating
  55396     368        3     3.0
  55397     368        6     4.0),
 (402,
         userId  movieId  rating
  61271     402        5     3.0
  61272     402        9     3.0),
 (448,
         userId  movieId  rating
  68657     448        3     3.0
  68658     448        5     3.0),
 (451,
         userId  movieId  rating
  70609     451        5     3.0
  70610     451        6     4.0),
 (474,
         userId  movieId  rating
  73094     474        5     1.5
  73095     474        6     3.0),
 (480,
         userId  movieId  rating
  76229     480        3     2.5
  76230     480        6     4.0),
 (521,
         userId  movieId  rating
  82167     521        5     3.0
  82168     521        6     4.0),
 (561,
         userId  movieId  rating
  86584     561        5     3.0
  86585     561        6     4.0),
 (588,
         userId  movieId  rating
  90421     588        3     3.0
  90422     588        6     5.0),
 (604,
         userId  movieId  rating
  97045     604        5     3.0
  97046     604        6     3.0),
 (11,
        userId  movieId  rating
  1259      11        6     5.0),
 (18,
        userId  movieId  rating
  1774      18        6     4.0),
 (19,
        userId  movieId  rating
  2276      19        3     3.0),
 (23,
        userId  movieId  rating
  3781      23        6     4.0),
 (24,
        userId  movieId  rating
  3902      24        6     4.5),
 (28,
        userId  movieId  rating
  4194      28        6     3.5),
 (31,
        userId  movieId  rating
  4880      31        5     3.0),
 (42,
        userId  movieId  rating
  5875      42        3     4.0),
 (51,
        userId  movieId  rating
  7423      51        3     4.0),
 (57,
        userId  movieId  rating
  8036      57        6     3.0),
 (62,
        userId  movieId  rating
  8792      62        6     4.5),
 (66,
        userId  movieId  rating
  9980      66        5     4.0),
 (79,
         userId  movieId  rating
  12473      79        6     4.0),
 (82,
         userId  movieId  rating
  12732      82        6     3.5),
 (100,
         userId  movieId  rating
  15300     100        3     3.5),
 (103,
         userId  movieId  rating
  15567     103        5     4.0),
 (105,
         userId  movieId  rating
  16215     105        6     4.0),
 (107,
         userId  movieId  rating
  16972     107        5     4.0),
 (109,
         userId  movieId  rating
  17080     109        6     3.0),
 (111,
         userId  movieId  rating
  17258     111        5     3.5),
 (112,
         userId  movieId  rating
  17906     112        6     4.5),
 (116,
         userId  movieId  rating
  18262     116        3     3.5),
 (120,
         userId  movieId  rating
  18751     120        5     4.0),
 (140,
         userId  movieId  rating
  21085     140        6     5.0),
 (147,
         userId  movieId  rating
  22151     147        5     4.5),
 (160,
         userId  movieId  rating
  23228     160        6     2.0),
 (166,
         userId  movieId  rating
  23865     166        6     3.5),
 (170,
         userId  movieId  rating
  24590     170        5     3.0),
 (182,
         userId  movieId  rating
  26093     182        6     4.5),
 (184,
         userId  movieId  rating
  27257     184   193583     3.5),
 (191,
         userId  movieId  rating
  27926     191        6     4.0),
 (195,
         userId  movieId  rating
  28087     195        6     4.0),
 (199,
         userId  movieId  rating
  28571     199        6     4.0),
 (200,
         userId  movieId  rating
  28935     200        5     4.0),
 (202,
         userId  movieId  rating
  29380     202        6     5.0),
 (219,
         userId  movieId  rating
  31526     219        6     3.5),
 (220,
         userId  movieId  rating
  32053     220        6     3.5),
 (226,
         userId  movieId  rating
  33046     226        3     3.5),
 (229,
         userId  movieId  rating
  33671     229        5     3.0),
 (239,
         userId  movieId  rating
  35302     239        6     5.0),
 (240,
         userId  movieId  rating
  35582     240        3     4.0),
 (244,
         userId  movieId  rating
  35855     244        6     5.0),
 (266,
         userId  movieId  rating
  38666     266        6     4.0),
 (274,
         userId  movieId  rating
  39231     274        6     4.0),
 (276,
         userId  movieId  rating
  40980     276        5     3.0),
 (282,
         userId  movieId  rating
  41461     282        6     4.0),
 (286,
         userId  movieId  rating
  41856     286        6     4.5),
 (289,
         userId  movieId  rating
  43169     289        3     2.5),
 (297,
         userId  movieId  rating
  44463     297        6     5.0),
 (302,
         userId  movieId  rating
  45643     302        3     3.0),
 (305,
         userId  movieId  rating
  45945     305        6     3.5),
 (307,
         userId  movieId  rating
  46735     307        3     3.5),
 (312,
         userId  movieId  rating
  48018     312        6     4.0)]

## Next step is finding a quantity to show similarity between users and the intended user. For this purpose, we use from Pearson corrlation between ratings in the inputMovies that have been scored by the intended user and rankings in the userSubsetGroup that have been scored by the other users.(corr=sxy/(sxx*syy))

In [126]:
pearsonCorrelationDict = {}
for name, group in userSubsetGroup:
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    nRatings = len(group)
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    tempRatingList = temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

## Generating a dataframe that includes Similarity and the userId and sorting by similarity desc. we use top 50, because correlation with the amount of not possitive will not help us.

In [127]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF

    similarityIndex  userId
0          0.674200     269
1          0.000000     270
2          0.301511     337
3          0.090909     492
4         -0.500000       6
..              ...     ...
95         0.000000     297
96         0.000000     302
97         0.000000     305
98         0.000000     307
99         0.000000     312

[100 rows x 2 columns]

In [128]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers

    similarityIndex  userId
33         1.000000     288
22         1.000000      45
28         1.000000     121
40         1.000000     451
44         1.000000     561
41         1.000000     474
31         1.000000     179
43         1.000000     521
25         1.000000      84
12         0.981981     437
16         0.944911     590
9          0.866025     353
11         0.866025     414
0          0.674200     269
7          0.500000     150
10         0.500000     389
15         0.500000     501
5          0.500000      68
17         0.500000     599
2          0.301511     337
3          0.090909     492
76         0.000000     184
75         0.000000     182
74         0.000000     170
73         0.000000     166
68         0.000000     116
72         0.000000     160
71         0.000000     147
70         0.000000     140
69         0.000000     120
78         0.000000     195
67         0.000000     112
66         0.000000     111
65         0.000000     109
64         0.000000     107
63         0.000000     105
62         0.000000     103
77         0.000000     191
84         0.000000     226
79         0.000000     199
90         0.000000     274
98         0.000000     307
97         0.000000     305
96         0.000000     302
95         0.000000     297
94         0.000000     289
93         0.000000     286
92         0.000000     282
91         0.000000     276
89         0.000000     266

## Merging above dataframe with rating and movieId for assigning score to movies.

In [129]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating

       similarityIndex  userId  movieId  rating
0                  1.0     288        1     4.5
1                  1.0     288        2     2.0
2                  1.0     288        3     4.0
3                  1.0     288        5     2.0
4                  1.0     288       10     3.0
...                ...     ...      ...     ...
21592              0.0     266     3108     5.0
21593              0.0     266     3113     1.0
21594              0.0     266     3142     1.0
21595              0.0     266     3156     1.0
21596              0.0     266     3265     5.0

[21597 rows x 4 columns]

## Now we can calculate Movies scores by multiplying  Similarity index by rating  and aggregate for each movie, then dividing this amount by sum of similarityIndex for each movie.(each movie is equivalent with group by movieId.)

In [130]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating

       similarityIndex  userId  movieId  rating  weightedRating
0                  1.0     288        1     4.5             4.5
1                  1.0     288        2     2.0             2.0
2                  1.0     288        3     4.0             4.0
3                  1.0     288        5     2.0             2.0
4                  1.0     288       10     3.0             3.0
...                ...     ...      ...     ...             ...
21592              0.0     266     3108     5.0             0.0
21593              0.0     266     3113     1.0             0.0
21594              0.0     266     3142     1.0             0.0
21595              0.0     266     3156     1.0             0.0
21596              0.0     266     3265     5.0             0.0

[21597 rows x 5 columns]

In [131]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating

         sum_similarityIndex  sum_weightedRating
movieId
1                  12.243582           51.264554
2                   7.176962           21.424456
3                   6.877557           24.315316
4                   1.000000            3.000000
5                  14.725563           39.185283
...                      ...                 ...
193579              0.000000            0.000000
193581              0.000000            0.000000
193583              0.000000            0.000000
193585              0.000000            0.000000
193587              0.000000            0.000000

[6318 rows x 2 columns]

## Generating a dataframe includes the final recommendation score by movieId and sorting by final recommendation score desc.

In [132]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
5650                                       5.0     5650
4495                                       5.0     4495
866                                        5.0      866
891                                        5.0      891
905                                        5.0      905
170705                                     5.0   170705
906                                        5.0      906
5034                                       5.0     5034
5137                                       5.0     5137
5292                                       5.0     5292

## Using recommendation system to recommend the best movies for the intended user.

In [133]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

,movieId,title,genres,Year
661,866,Bound,"[Crime, Drama, Romance, Thriller]",1996
675,891,Halloween: The Curse of Michael Myers (Hallowe...,"[Horror, Thriller]",1995
687,905,It Happened One Night,"[Comedy, Romance]",1934
688,906,Gaslight,"[Drama, Thriller]",1944
3320,4495,Crossing Delancey,"[Comedy, Romance]",1988
3660,5034,"Truly, Madly, Deeply","[Drama, Romance]",1991
3719,5137,Scratch,[Documentary],2001
3784,5292,Slap Shot,[Comedy],1977
4003,5650,Strange Brew,[Comedy],1983
9497,170705,Band of Brothers,"[Action, Drama, War]",2001

## Enjoy watching yout favorite movies.